.title{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
}
.years{
    color: aliceblue;
}
.text-center{
    border-style: double;
    border-radius: 10px;
    border-color: aliceblue;
}