#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 100%;
    background: #222;
    margin-top: 15px;    
    border-style: double;
    border-color: aliceblue;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.media{
    color: aliceblue;
}