#mainn{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #222;
    border-style: double;
    border-color: aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(215, 215, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: inherit;
}
.div-1{
    display: flex;
    width: 30%;
    height: 100%;
}
.div-2{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
}
