#mainn{
    display: block;
    background-color: #222;
    border-style: double;
    border-color: aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
}
h1 {
    color: blue;
}
